* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(../images/fundo.png);
}
.pokemons {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns:1fr 1fr ;
    
 

}
.pokemon {
    
    min-width: 100px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #14A06F;
    color: white;
    border-radius: 1rem;
    height: 120px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 10px 5px 10px black;

   
}
.detail img {
  max-width: 50%;
  height: 90px;
 
}
.number {
    color: black;
    text-align: right;
    opacity: 0.3;
    font-size: .8rem;
    align-self: flex-end;
}
.detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}
.detail { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.type {
    filter: brightness(1.2);
    padding: .25rem;
    border-radius: .5rem;
    color: white;
    font-size: .825rem;
    margin: .25rem;
}
.name {
    color: white;
    margin: .25rem 0;
    text-transform: capitalize;
}

.content {
    padding: 1rem;
    height: 100vh;
}
.ground {
    background-color: #E2BF65
}
.grass {
    background-color: #14A06F;
}
.fire {
    background-color: lightcoral;
}
.water {
    background-color: lightskyblue;
}
.fairy { 
    background-color: #D685AD;
}
.electric {
    background-color: #FFE100;
}
.dragon {
background-color:#6F35FC;
}
.normal {
    background-color: #F0E78E;
}
.rock {
    background-color: #B6A136;
}
.psychic {
background-color:#F95587';
}
.fighting {
    background-color: #C22E28;
}
.poison {
    background-color: #A33EA1;
}
.bug {
    background-color: #A0B135;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.pagination button {
    background-color: #A44DDA;
    color: #FFE100;
    padding: 10px;
    box-shadow: 10px 5px 10px black;
    border-radius: 1.1rem;
 
}
h1 {
    text-align: center;
    background-color: #14A06F;
    border-radius: 10px;
    padding: 5px;
    width: 10rem;
    margin: auto;
    color: #FEE387;
    box-shadow: 10px 5px 10px black;
}
/* -------------------------------MEDIA QUERY -------------------------------------------- */
@media screen and (min-width: 565px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr)
    }

    
    
}

@media screen and (min-width: 900px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr)
    }

    
    
}
@media screen and (min-width: 1200px) {
    .pokemons {
        grid-template-columns: repeat(5, 1fr)
    }

    
    
}
    
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');